@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://docs.google.com/forms/d/e/1FAIpQLSfYg0E6-NHib_-eLVnx_BuxINQSc6exrBUjHUp6UwBGGjibkQ/viewform?embedded=true width=-640 height-382 frameborder-0 marginheight-0 marginwidth-0");
@layer base {
  body {
    @apply font-[Raleway];
  }
  li {
    @apply px-4;
    @apply cursor-pointer;
  }
}
.content-div {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 250px;
}
.content-div:hover {
  background-image: linear-gradient(
    to right,
    rgba(112, 157, 255, 0.8),
    hsla(242, 74%, 61%, 0.8)
  ) !important ;
}

.custom {
  padding: 12px 0px;
  margin: 0px 12px;

  position: relative;
  text-align: center;
  color: #fff;
  font-size: 15px;
  text-transform: uppercase;
  font-family: Avantgarde, CenturyGothic, AppleGothic, sans-serif;
}

.custom:before {
  content: " ";
  position: absolute;
  left: 0%;
  bottom: 10px;
  height: 4px;
  width: 0%;
  background-color: rgba(230, 37, 69, 0.834);
  transition: width 0.5s ease-in-out;
}
.custom:after {
  content: " ";
  position: absolute;
  right: 0%;
  bottom: 10px;
  height: 4px;
  width: 0%;
  background-color: rgba(230, 37, 69, 0.834);
  transition: width 0.5s ease-in-out;
}

.custom:hover:before,
.custom:focus:before {
  width: 50%;
}

.custom:hover:after,
.custom:focus:after {
  width: 50%;
}
